{% extends 'pages/base.html' %}

{% load static %}


{% block content %}
    <title> Zay | Shop </title>
<style>
{% comment %} .product-overlay ul {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.product-overlay:hover ul {
    opacity: 1;
} {% endcomment %}
.product-wap {
    max-height: fit-content;
    max-width: fit-content; /* Adjust the width as needed */
}
.product-wap img {
    width: max-content;
    height: fit-content; /* Adjust the height as needed */
    object-fit:fill; /* Ensures the image covers the area without distortion */
    padding: 0;
}
</style>    

    <!-- Start Content -->
    <div class=" container-fluid py-5">
        <div class="row">
            <div class="col-lg-3 px-5">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none text-dark" href="#">
                            Gender
                        </a>
                        <ul class="list-unstyled pl-3">
                            <li><a class="text-decoration-none text-dark" href="{% url 'zay:shop' %}">All Products</a></li>
                            <li><a class="text-decoration-none text-dark" href="{% url 'zay:men' %}">Men</a></li>
                            <li><a class="text-decoration-none text-dark" href="{% url 'zay:women' %}">Women</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none text-dark" href="#">
                            Sale
                        </a>
                        <ul id="collapseTwo" class=" list-unstyled pl-3">
                            <li><a class="text-decoration-none text-dark" href="#">Sport</a></li>
                            <li><a class="text-decoration-none text-dark" href="#">Luxury</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="d-flex justify-content-between h3 text-decoration-none text-dark" href="#">
                            Product
                        </a>
                        <ul id="collapseThree" class="list-unstyled pl-3">
                            <li><a class="text-decoration-none text-dark" href="#">Bag</a></li>
                            <li><a class="text-decoration-none text-dark" href="#">Sweather</a></li>
                            <li><a class="text-decoration-none text-dark" href="#">Sunglass</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">Men's</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none" href="#">Women's</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4">
                        <div class="card mb-4 p-0 product-wap">
                            <div class="card">
                            <a href="{% url 'zay:single' product.id %}">

                                <img class="card-img rounded-0 img-fluid" src="{{product.image.url}}">
                            </a>
                            </div>
                            <div class="card-body mt-">
                                <a href="{% url 'zay:single' product.id %}" class="h3 text-decoration-none text-dark"> {{product.name}} </a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>M/L/X/XL</li>
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>
                                <p class="text-center mb-0"> ${{product.price}} </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
        
        </div>
    </div>
    <!-- End Content -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Carousel Wrapper--> 
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'images/brand_01.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src=" {% static 'images/brand_02.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src=" {% static 'images/brand_03.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src=" {% static 'images/brand_04.png' %}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->

{% endblock content %}