{% extends 'pages/crmbase.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>order List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px 12px;
            border: 1px solid #ccc;
        }
        th {
            background-color: #f4f4f4;
        }
        footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1 class="text-center text-dark mb-2" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style: italic;">Orders List</h1>
    <div class="px-5">
        <form action="{% url 'crm:order' %}" method="get" class="modal-content modal-body border-0 px-5 ">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search [name , price , id , category ,all(to get all of them)] ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
    {% if orders %}
    <table class="table table-striped table-hover">
        <thead class="text-light bg-dark">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Product</th>
                <th> address </th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td> {{order.id}} </td>
                <td>{{ order.user }}</td>
                <td> {{order.user.email}} </td>
                <td> {{order.user.phone}} </td>
                <td> {{order.product}} </td>
                <td> {{order.user.address}} </td>
            </tr>
            {% endfor %}
            {% else %}
            <h1> No Orders </h1>
            {% endif %}
        </tbody>
    </table>
</body>
</html>

{% endblock content %}